.main {
    flex-direction: row;
    margin-block-start: 100px;
    margin-block-end: 175px;
    justify-content: space-around;
}

.main__image {
    width: 30%;
}

.main__image img {
    width: 500px;
    height: 400px;
}

.main__information {
    width: 30%;
}