doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@400;700&display=swap" rel="stylesheet")
        link(rel='stylesheet', href='../css/style.css')
        title 404 challenge
    body 
        header.header 
            h2 404 NOT FOUND
        main.main 
            section.main__image
                img(src="../Scarecrow.png")
            section.main__information 
                h1 I have bads news for you 
                p The page you are looking for might be removed or is temporarily unavailable.
                button 
                    a Back to homepage
        footer.footer 
            p created by angelr08 - devChallenges.io